In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
gdp_df = pd.read_csv(
    r"C:\Users\hunte\Documents\NNS-DDA10\python\projects\un_data-hunterfogg668\data\gdp_percapita.csv.csv")

In [5]:
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2020  1970.560169              NaN
1     Afghanistan  2019  2065.036235              NaN
2     Afghanistan  2018  2033.804389              NaN
3     Afghanistan  2017  2058.400221              NaN
4     Afghanistan  2016  2057.067978              NaN

In [6]:
gdp_df.shape

(7176, 4)

In [21]:
gdp_df.dtypes

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

In [33]:
gdp_df_2 = gdp_df.drop(columns = ['Value Footnotes'])
gdp_df_2 = gdp_df_2.rename(columns = {'Country or Area' : 'Country', 'Year' : 'Year', 'Value' : 'GDP_Per_Capita'})
gdp_df_2

          Country  Year  GDP_Per_Capita
0     Afghanistan  2020     1970.560169
1     Afghanistan  2019     2065.036235
2     Afghanistan  2018     2033.804389
3     Afghanistan  2017     2058.400221
4     Afghanistan  2016     2057.067978
...           ...   ...             ...
7171     Zimbabwe  1994     2603.927369
7172     Zimbabwe  1993     2420.092791
7173     Zimbabwe  1992     2437.152908
7174     Zimbabwe  1991     2733.696626
7175     Zimbabwe  1990     2652.129209

[7176 rows x 3 columns]

In [55]:
new_gdp = gdp_df_2.Country.value_counts().to_frame().reset_index()
new_gdp.loc[new_gdp.Country == 31]

                                            index  Country
0    Least developed countries: UN classification       31
1                                           Niger       31
2         Middle East & North Africa (IDA & IBRD)       31
3                                   Middle income       31
4                                        Mongolia       31
..                                            ...      ...
200                                      IDA only       31
201      Fragile and conflict affected situations       31
202                                       Ireland       31
203                                        France       31
204                                         Italy       31

[205 rows x 2 columns]

In [58]:
new_gdp.loc[new_gdp.Country != 31].shape

(37, 2)

In [60]:
year_gdp = gdp_df_2.Year.value_counts()
year_gdp

2018    242
2017    242
2016    242
2015    242
2014    242
2013    242
2019    241
2020    240
2012    240
2011    240
2010    239
2009    239
2008    238
2007    237
2006    237
2004    236
2005    236
2003    235
2002    235
2001    234
2000    233
1999    227
1998    226
1997    226
1996    222
1995    222
1994    211
1993    209
1992    208
1991    207
1990    206
Name: Year, dtype: int64